<div class="jumbotron text-center">
	<h1>Eventos</h1>

	<p>{{texto}}</p>
</div>

<p class="text-right" ng-show="eventos.length > 10"><a class="btn btn-default" href="/eventos/nuevo" role="button">Nuevo evento <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></p>

<div class="table-responsive">
  <table class="table">
  	<thead>
		<tr>
			<th>Titulo</th>
	    	<th>Descripción</th>
	    	<th>Editar</th>
	    	<th>Eliminar</th>
		</tr>
	</thead>
    <tbody>
	    <tr ng-repeat="evento in eventos">
	    	<td class="col-xs-3"><a href="/eventos/{{evento._id}}">{{evento.titulo}}</a></td>
	    	<td class="col-xs-7">{{evento.descripcion}}</td>
	    	<td class="col-xs-1"><button class="btn btn-default btn-sm" ng-click="editar(evento._id)"><i class="fa fa-pencil-square-o"></i></button></td>
	    	<td class="col-xs-1"><button class="btn btn-default btn-sm" ng-click="eliminar(evento._id)"><i class="fa fa-trash"></i></button></td>
	    </tr>
	</tbody>
  </table>
</div>

<p class="text-right"><a class="btn btn-default" href="/eventos/nuevo" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo evento</a></p>